#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.App {
  position: relative;
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
